body {
    text-align: center;
}

#score {
	 font: 50px Impact;
	 -webkit-text-stroke: 1px black;
   color: white;
   text-shadow:
       3px 3px 0 #8B008B,
     -1px -1px 0 #8B008B,  
      1px -1px 0 #8B008B
   }
